<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<link rel="icona" href="/favicon.ico" type="image/x-icon">
<script src="/js/menu.js"></script>



<title>reliquum</title>


</head>

<body>
 <header>



<!-- MENU LATERALE SINISTRO-->
   <div class="" style="display:none; " id="menu-sin-sidebar">
     <button class="" onclick="close_menu ()">&times;</button>
     <br>
     <li>                                                               <!--Da verificare la correttezza-->
     <a href="/" class="">Diario</a>
     <a href="/listacibi" class="">Cibi</a>
     <a href="/impostazioni" class="">Impostazioni</a>
     <a href="/manuale" class="">Manuale Utente</a>
     <a href="/info" class="">Info</a>
</li>
   </div>


<div style="background-color:#A52A2A;" id="main">
<div class="">

  <button id="apertura-nav" class="" onclick="open_menu ()">&#9776;</button>

</div>


 </header>

 <!--INTESTAZIONE PAGINA DESIDERATA-->
{{{body}}}

</body>



<!--COLOPHON-->
<footer>
  <p>Corso Programmazione Web Mobile</p>
  <a href="mailto:marco.delfabbro@studenti.unimi.it"</a>&copy;Marco Del Fabbro  {{{copyrightYear}}}
</footer>
</html>
