<h2 class="titolo-pagina">Manuale Utente</h2>
<p>La conversione di un testo semplice (plain text) in HTML è una procedura piuttosto semplice che non richiedere operazioni particolari e complesse. E' bene ricordare, infatti, che HTML non è un linguaggio di programmazione ma un linguaggio di markup, da ciò consegue che un testo può essere trasformato facilmente in HTML aggiungendo alcuni semplici tag ed adottando semplici accorgimenti.

Nello specifico, un testo può essere convertito in HTML aggiungendo dei tag per la gestione dei ritorni a capo (tag <br>) e/o dei paragrafi (tag <p>): i ritorni a capo all'interno di un file di puro testo, infatti, vengono ignorati in HTML se non opportunamente convertiti nei relativi tag.

Un'altra caratteristica che differenza un testo semplice da un testo formattato in HTML riguarda spazi bianchi e tabulazioni: in un testo semplice è sufficiente premere più volte la barra spaziatrice o il tasto tab per creare degli spazi tra le parole del testo, viceversa ciò non produrrà alcun effetto in un testo formattato in HTML, a meno che tali spazi e tabulazioni non siano opportunamente convertiti in entità idonee a rappresentare dei meta-caratteri invisibili in grado di produrre l'effetto cui siamo abituati nei comuni editor di testo.</p>
