header{
  background: #F2E8DE;
}

*{
  max-width: 650px;
  margin: auto;
}

body{
  background-color: #F2E8DE;
  text-align: center;
}

div{
  background-color: white;
  margin: 10px 50px 10px 50px;
  border-radius: 8px;
}

h2.titolo-pagina{
  font-family:  century gothic;
  font-size: 17px;
}

div.white-text{
  margin: 10px 50px 10px 50px;
}

div.principale-nox-white{
  box-shadow: 1px 3px 5px grey;
}

h1.titolo-principale{
  font-family:  century gothic;
  margin: 10px 10px 10px 10px;
}


h2,h3,h4,h5,h6{
  text-align: left;
}

h2,h3,h4,h5,h6,p,a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px
}

p{
  text-align:left;
}

nav{
  margin: 0 auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #973939;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}

li{
  display: inline;
  margin: 30px 30px 30px 30px;
}

.colophon{
  text-align: center;
  font-size: 10px
}

footer{
  margin: 10px 10px 10px 10px;
  background: #F2E8DE;
}
